$circle-onn-color: rgb(255,255,255);
$circle-onn-opacity: 0.99;
$circle-off-color: rgb(155,155,155);
$circle-off-opacity: 0.99;

$switch-width: 48px;
$switch-height: 28px;
$circle-size: 20px;

$transition-time: 0.3s;
$transition-style: ease;